root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space

[*.{cs,csx}]
indent_size = 4
# Treat analyzer rules consistently with the build (TreatWarningsAsErrors).
dotnet_sort_system_directives_first = true
csharp_using_directive_placement = outside_namespace:warning
csharp_style_namespace_declarations = file_scoped:warning
csharp_prefer_braces = true:suggestion
dotnet_style_prefer_conditional_expression_over_assignment = true:silent

[*.{json,yml,yaml,csproj,props,targets,slnx}]
indent_size = 2

[*.{ts,html,scss,css,js}]
indent_size = 2
